body{
    background-color:#85C1E9 ;
    max-height: 700px;
    font-family: 'Playfair Display', serif;
    /* padding: 0%; */
    color: black;

}
#navbar-nav mr-auto mt-2 mt-lg-0{
    color: #000;
}
}
#my_name{
    margin-left: -124px;
}
.img{
    border-radius: 8%;
    padding: 10px;
   

}
#my_photo{
    border-radius: 50%;
}
#hello{
    font-size: 100px;
    font-weight: bold;
    margin-left: 100px;

}
#bit{
    font-size: 30px;
    margin-left: 100px;

}
#red{
    background-color:#ff1e56 ;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cv{
    text-transform: uppercase;
}
#blue, #yellow{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle{

    padding: 10px;
    margin-left: 100px; 
    
}
#foot{
    background-color: pink;
    padding: 10px;
    
    width: 100%;
    margin-top: 4%;
}
#maroon{
    background-color: maroon ;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
#cont{
    font-size: 60px;
    font-weight: bold;
    margin-left: -14px;
} 
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 50%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: red;
  }

/* div {
    border-radius: 5px;
    padding: 20px;
  } */

#res{
    font-weight: bolder;
}
#resume{
    font-size: 50px;
    font-weight: bold;
    border-bottom: 2px solid black;
    width: 67.5%;
    padding: 2%;
}
#proffesion{
    padding: 20px;
    border-bottom: 2px solid black;

}
#para{
    margin-left: 150px;
    padding-top: 2px;
    padding-bottom: 0%;
}
#param{
    margin-left: 50px;
}
hr.style-three {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    }
    hr.style-three:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    }
div.proj {
  width: 50%;

  background-color: pink;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
div.proj:hover{
    background-color: rgb(17, 212, 212);
}
/*.col-md-6{
    margin-left: 200px;*/
}
.col-md-6-mt-3{
    border-radius: 50%;
    padding-top: 5px;
}
#skills{
    font-weight: bolder;
    font-size: 200px;
}